@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --bg: #330136;
    --purpleD: #5E1742;
    --purpleL: #962E40;
    --orangeD: #C9463D;
    --orangeL: #FF5E35;
}

*{
    color: var(--orangeL);
    font-family: 'Poppins', sans-serif;
}

.titulo{
    font-family: 'Lobster Two', cursive;
    color: var(--orangeL);
    text-align: center;
}

.titulo:hover{
    color: var(--orangeD);
}

body{
    background: linear-gradient(to top,#5E1742,#330136);
}

.textS{
    font-size: max(16px,1vw);
    font-family: 'Poppins', sans-serif;
    color: var(--orangeL);
    text-align: center;
}

.botao{
    background-color: var(--orangeL);
    color: var(--bg);
    font-size: 20px;
    width: 60%;
    height: 8vh;
    border: 1px solid var(--orangeL);
    border-radius: 10px;
    line-height: 5.5vh;
}

.botao:hover{
    background: none;
    color: var(--orangeL);
}

.entrada{
    background:none;
    border: none;
    border-bottom: 1px solid var(--orangeD);
}

.entrada::placeholder{
    color: var(--orangeD);
}

small{
    display: block;
    color: var(--orangeL);
    margin-bottom: 1em;
}

.nav-link,.dropdown-item{
    color: var(--orangeL);
}

.nav-link:hover{
    color: var(--orangeD);
}

.dropdown-menu{
    background: var(--purpleD);

}
.dropdown-item:hover{
    background: var(--orangeD);
    color: var(--purpleD);
}

.botao-nav{
    background-color: var(--orangeL);
    color: var(--bg);
    font-size: 20px;
    border: 1px solid var(--orangeL);
    border-radius: 5px;
    height: 40px;   
}
.botao-nav:hover{
    background: none;
    border: 1px solid var(--orangeL);
    color: var(--orangeL);
}

header{
    border-bottom: 1px solid var(--orangeL);
}

.img-home{
    width: 200px;
}

.link-home{
    display: block;
}

.link-home:hover{
    color: var(--orangeD);
    text-decoration: none;
}

span{
    color: var(--orangeD);
    font-size: 14px;
}

.navbar-brand{
    font-size: min(25px,7vw);
}

input[type='date']::-webkit-calendar-picker-indicator{
    color: var(--bg);
    background: none;
    border: none;
}

@media (max-width: 800px){
    .botao-nav{
        width: 50%;
        margin-top: 1em;
    }

    iframe{
        width: 300px;
        height: 250px;
    }

    .p-hidden{
        display: none;
    }
}

